.container {
    height: 38px;
    width: 38px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.clickeable {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clickeable:hover {
    border: 1px solid var(--on-primary);
    background-color: rgba(255, 255, 255, 0.05);
}

.clickeable:active {
    transform: scale(0.95);
}

.bigContainer {
    height: 50px;
    width: 50px;
}

.icon {
    height: 36px;
    width: 36px;
    object-fit: contain;
}

.bigIcon {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.icon,
.bigIcon {
    user-select: none;
    pointer-events: none;
}
